# Midterm

<b>Penalties:</b> You will incur penalties if:
<ul>
<li>Your code is wrong</li>
<li>Your code does not work on different data</li>
<li>You use for loops or list comprehensions (unless explicitly permitted)</li>
</ul>

In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("credit.csv")

<p>This data set reports the information of personal credits situation. Each row is associated to a person, whereas the columns report:
<ul>
<li><b>months_loan_duration</b>: Duration in month
<li><b>credit_history</b>: the person's credit history
<li><b>purpose</b>: the person's credit purpose
<li><b>employment_length</b>: the person's credit amount
<li><b>employment_length</b>: Present employment since
<li><b>personal_status</b>: length of the marriage, in years
<li><b>affairs</b>:time spent, in hours/week, in extra-marital affairs 
</ul></p>
<p>That is all we need to know about the columns' meaning.</p>

In [3]:
df.head(10)

,months_loan_duration,credit_history,purpose,amount,employment_length,personal_status,property,age,job
0,6,critical,radio/tv,1169,> 7 yrs,single male,real estate,67,skilled employee
1,48,repaid,radio/tv,5951,1 - 4 yrs,female,real estate,22,skilled employee
2,12,critical,education,2096,4 - 7 yrs,single male,real estate,49,unskilled resident
3,42,repaid,furniture,7882,4 - 7 yrs,single male,building society savings,45,skilled employee
4,24,delayed,car (new),4870,1 - 4 yrs,single male,unknown/none,53,skilled employee
5,36,repaid,education,9055,1 - 4 yrs,single male,unknown/none,35,unskilled resident
6,24,repaid,furniture,2835,> 7 yrs,single male,building society savings,53,skilled employee
7,36,repaid,car (used),6948,1 - 4 yrs,single male,other,35,mangement self-employed
8,12,repaid,radio/tv,3059,4 - 7 yrs,divorced male,real estate,61,unskilled resident
9,30,critical,car (new),5234,unemployed,married male,other,28,mangement self-employed

In [4]:
df.shape

(1000, 9)

### Question 1

How many people whose credit purpose is education and property is real estate?

### Question 2

What's the credit history of the guy who has the maxium amount among the whole dataset? Your code must return <b>only one string</b>.

### Question 3

What is the proportion of people (0 to 1) who are younger than 30 and have lower than 24 months loan duration?

### Question 4

For each employment_length, report the number of property whose master have over 30 months loan duration. You must report one entry for each existing province.

### Question 5

What is the popular purpose group? Please give then decreasing order.

### Question 6

Find how many <u>distinct</u> age for male. <i>Hint</i>: Series.unique() find the list of unique values in a Series.

### Question 7

For each combination of <i>employment_length</i> and <i>job</i>, what's the average, minimum, and maximum number of amount?

### Question 8

Let us define "average amount of an age" as the average amount of that age. Find the age whose amount is over 20% higher than the average amount of an age (computed throughout the whole data set). Report both the age and its average amount.

### Question 9

Display only those columns that, across the whole data set, contain more than 6 distinct values. You can use for loops or list comprehension for this problem. Hint: the method nunique() returns the number of unique values in a Series.

### Question 10

A metric we are interested in is the "person's loan duration per year of age", which is computed as loan duration / age. Among those amount higher than average , show the details of the person (or people in case of ties) who has/have the largest number of loan duration per year of age.